# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# No se necesita estoy ocupando pnpm
package-lock.json

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.claude
CLAUDE.md
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
