.topNavBar {
  display: flex;
  background: var(--kineclin-azul);
  color: white;
  padding: 8px 0;
  font-size: var(--font-size-s);
}
.topNavWidth {
  display: flex;
  gap: 5px;
  width: var(--w-topnav);
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.googleMaps_link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  text-decoration: none;
}
.mobileLine {
  display: none;
}
.desktopLine {
  display: flex;
}
.topNavActions {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
}

.botNavWidth {
  width: var(--w-botnav);
  margin: 10px auto;
}
.botNavBar {
  background: var(--kineclin-bg1);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.08); */
  gap: 10px;
  /* padding: 16px 0; */
}
/* fila bot navbar */
.botNavRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.logoImg {
  display: block;
  height: 50px;
  width: auto;
  margin: 0 0 0 20px;
}
.botNav_logo {
  width: 100%;
  display: flex;
  flex: 0;
  align-items: center;
}
.right {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 0px;
}

.right a {
  color: #111827;
  text-decoration: none;
  transition: box-shadow 150ms ease;
}

.right a:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

/* TABLETS */
@media (max-width: 940px) {
  .botNavRow {
    flex-direction: column;
    align-items: flex-start;
  }
  .right {
    flex: 1;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  .logoImg {
    margin: 12px 0 12px 0;
  }
  .botNavBar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}
.botNavWidth {
  margin: 0 auto;
}

/* MOBILE */
@media (max-width: 768px) {
  .botNavRow {
    align-items: flex-start;
  }
  .topNavBar {
    font-size: var(--font-size-xs);
  }
  .mobileLine {
    display: flex;
  }
  .desktopLine {
    display: none;
  }
  .topNavActions {
    gap: 15px;
    margin: 0 12px 0 0;
  }
  .topNavActions_label {
    display: none;
  }
  .botNav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
