/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* ===== VARIABLES GLOBALES ===== */
:root {
  /* anchos por sección (mobile-first) */
  --w-topnav: 95%;
  --w-botnav: 95%;
  --w-hero: 95%;
  --w-content: 95%;

  /* colores */
  --kineclin-azul: #009edb;
  --kineclin-azul-s: #0086ba;
  --kineclin-rose: #e8b8af;
  --kineclin-rose-s: #da8e81;
  /* --kineclin-rose-s: #606363; */
  --kineclin-gold: #d89000;
  --kineclin-gold-s: #b67900;
  --kineclin-grey: #707475;
  --kineclin-grey-s: #606363;
  --kineclin-bg1: #fff;
  --kineclin-bg2: #f6f6f6;

  /* fuentes */
  --font-primary: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-secondary: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  --font-size-xs: 11px;
  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 15px;
  --font-size-xl: 16px;
}

/* ===== MARGENES ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
#root {
  min-width: 360px !important;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: visible;
  scroll-behavior: smooth; /* Scrolls hacia marcadores HTML mas suaves */
}

section {
  padding: 50px 0;
}

/* ===== TIPOGRAFIA VALORES POR DEFECTO ===== */
body {
  font-family: var(--font-primary);
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: 1.4;

  /* Optimizacion MACs */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Optimizacion General */
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-secondary);
  line-height: 1.2;
  font-weight: 600;
}
.navbar {
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: inherit !important;
}

/* ===== RESPONSIVIDAD: ANCHOS DESKTOP ===== */
@media (min-width: 768px) {
  :root {
    --w-topnav: 95%;
    --w-botnav: 95%;
    --w-hero: 85%;
    --w-content: 80%;
  }
}
